.FDA{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    color:black;
    /*font-weight:bolder;
    font: size 30px;*/
    font-size: 2.572rem;
    margin-bottom: .5715rem;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    /*line-height: 1.2;*/
    box-shadow: 0 1px 0 black /* color rojo */
    
      
}

.error {
    border-color: red;
  }
  
  .error::after {
    content: attr(data-error);
    color: red;
    font-size: 0.75em;
    padding-left: 5px;
  }

.text-center{
    /*background: lightblue url("FONDOS/oip5.jpg");
    background-image:url("FONDOS/oip.jpg");
    background-color:aqua;*/
    left: 0;
    right: 0;
    
    width: 80%;
    margin: 40 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100%;
   
    background: url('./FONDOS/clubs.png') no-repeat center center;
    background-size: cover;
    
}
.cuadro{
    
    /*width:80%;*/
    background-color: antiquewhite;
    border-color: black;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    /*position: absolute;*/
    left:80;
    right:80;
    margin:0;
}
.centro{
    text-align: center;
    margin: 0 auto;
    width: 50%; /* adjust the width as needed */
  }
  #emailError{
    color: blue;
  }
  #passwordError{
    color:red;
  }